<div class="quote-box" *ngIf="quote">
    <div class="quote-text"> 
    	<i class="fa fa-quote-left"> </i>
    	<span>{{quote.quoteText}}</span> </div>
	<div class="author"> 
		<div>- {{quote.quoteAuthor}}</div> </div>
	<div class = "buttons">
	    <button (click)="getQuote(); getColor(); toggleState()" id="new-quote" class="button" 
	    [@changeColor]='state' [style.background-color]="color">
	    New quote
	    </button>
	    <button (click)="tweet()" id="twitter" class="button"><i class="fa fa-twitter"></i></button>
	</div>
</div>