<div class="quote-box" *ngIf="quote">
    <div class="quote-text"> 
    	<i [style.color]="color" class="fa fa-quote-left"> </i>
    	<span [style.color]="color"> {{quote.quoteText}}</span> </div>
	<div class="author"> 
		<div [style.color]="color">- {{quote.quoteAuthor}}</div> </div>
	<div class = "buttons">
	    <button (click)="getQuote(); getColor()" id="new-quote" class="button" 
	    [ngStyle]="{'background-color': this.color}" >
	    <!-- change the color, then switch the state? -->
	    New quote
	    </button>
	    <button (click)="tweet()" id="twitter" class="button" [ngStyle]="{'background-color': this.color}"><i class="fa fa-twitter"></i>
	    </button>
	</div>
</div>